.main {
  min-height: 100vh;
  background-image: url(https://res.cloudinary.com/dya1efdwp/image/upload/v1662511234/proyecto_3/fondo-main_wgkmhn.jpg);
  iframe {
    padding: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9";
  img {
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    &:hover{
      zoom: 130%;
    }
  }
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}

/* Productos */

.mainProductos {
  min-height: 100vh;
  background-image: url(https://res.cloudinary.com/dya1efdwp/image/upload/v1662511234/proyecto_3/fondo-main_wgkmhn.jpg);
  h1 {
    color: wheat;
    display: flex;
    justify-content: center;
  }
  img {
    padding: 10px;
    border-radius: 30px;
  }
}
.card{
  --bs-card-border-color: #dc3545;
  --bs-card-border-radius: 1rem;
  --bs-card-bg: #edb3b8f4;
  img:hover{
    border-radius: 15%;
      overflow: hidden;
      zoom: 20%;
      transition: 1s;
      }    
  h5{
    color:#ffffff;
  }
}


/* Cómo Comprar */

.main-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: wheat;
    display: flex;
    justify-content: center;
  }
  h2 {
    color: wheat;
    display: flex;
    justify-content: center;
  }
  ol {
    color: white;
    font-size: x-large;
    font-style: oblique;
    font-variant: small-caps;
    background-color: #e76b8a77;
    width: 50%;
    font-family: 'Handlee', cursive;
  :hover{
      background-color: rgba(211, 107, 199, 0.501);
      border-radius: 15px;
      transition: 1s;
      }
}
}

/* Contacto */

.main-contacto {
  h1 {
    color: wheat;
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    input{
      border-radius: 15px;
      border-width: 3px;
      border-color: rgb(249, 202, 208);
      background-color: #eeaed5d2;
      &:hover{
      border-color: #ff54be;  
      border-width: 6px;
      }
    }
    textarea{
      border-radius: 15px;
      border-width: 3px;
      border-color: rgb(249, 202, 208);
      background-color: #eeaed5d2;
      &:hover{
      border-color: #ff54be;  
      border-width: 6px;
      }
      }
    label{
      color: wheat;
      background-color: #e76b8a77;
      select{
        color: #ff54be;
        border-radius: 8px;
      }
    }
  }
  h2 {
    color: wheat;
  }
}

/* FAQ */

.mainfaq{
  display: flex;
  flex-direction: column;
  align-items: center;
.faq {
  color: wheat;
  font-size: x-large;
  font-style: oblique;
  font-variant: small-caps;
  width: 50%;
  background-color: #e76b8a77;
  border-radius: 15px;
  font-family: 'Handlee', cursive;
  :hover{
    background-color: rgba(211, 107, 199, 0.501);
    border-radius: 15px;
    transition: 1s;
    }
}
}